.largecontainer {
    display: flex;
    background-color: lightblue;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding-top: 200px;
    padding-bottom: 200px;
}
/* large area that holds the 2 elements for the daily information */

.the2elements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* a smaller box that holds the infotext and the picture */

.infotext > div {
    padding: 6px 10px
}
/* This is the space between the infotext */
/* left value is top and bottom */

.infotext {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    padding-left: 100px;
    font-size:20px;
    font-weight: 600;
    animation: fadeInRight 3s;
    /* swing with the picture */
}
/* This is the text at the bottom */

/* optimized for mobile viewing */
@media (max-width: 626px) { 
    .infotext {
        padding-top: 100px;
        padding-left: none;
        align-items: center;
        padding-right: 100px; 
    }
}

.infotext div 
    {
        text-align: center;
    }

.picturething {
    margin-left: 40px;
    margin-right: 40px;
    animation: 
        zoomIn 3s,
        swing 30s infinite 3s;
}
@keyframes swing {
    5% {
      transform: rotate3d(0, 0, 1, 5deg);
    }
  
    10% {
      transform: rotate3d(0, 0, 1, -5deg);
    }
  
    15% {
      transform: rotate3d(0, 0, 1, 5deg);
    }
  
    20% {
      transform: rotate3d(0, 0, 1, -5deg);
    }

    25% {
        transform: rotate3d(0, 0, 1, 5deg);
    }
    
    30% {
        transform: rotate3d(0, 0, 1, -5deg);
      }
    
      35% {
        transform: rotate3d(0, 0, 1, 5deg);
      }
    
      40% {
        transform: rotate3d(0, 0, 1, -5deg);
      }

      45% {
        transform: rotate3d(0, 0, 1, 5deg);
      }
      50% {
        transform: rotate3d(0, 0, 1, -5deg);
      }
    
      55% {
        transform: rotate3d(0, 0, 1, 5deg);
      }
    
      60% {
        transform: rotate3d(0, 0, 1, -5deg);
      }
    
      65% {
        transform: rotate3d(0, 0, 1, 5deg);
      }
  
      70% {
          transform: rotate3d(0, 0, 1, -5deg);
      }
      
      75% {
          transform: rotate3d(0, 0, 1, 5deg);
        }
      
        80% {
          transform: rotate3d(0, 0, 1, -5deg);
        }
      
        85% {
          transform: rotate3d(0, 0, 1, 5deg);
        }
  
        90% {
          transform: rotate3d(0, 0, 1, -5deg);
        }

        95% {
            transform: rotate3d(0, 0, 1, 5deg);
          }
  
    to {
      transform: rotate3d(0, 0, 1, -5deg);
    }
  }


/* this is testing animations */


