.weekly {
    display: flex;
    background-color: #6cc2df;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    min-height: 10px;
    margin: auto;
}
/* This is the large blue area around the boxes for the weekly elements*/

.weekly div{ 
    display: flex;
    background-color: lightblue;
    padding: 50px;
    padding-top: 10px;
    border: 2px;
    border-style: solid;
    height: 250px;
    margin: 20px 40px;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    border-color: #2c2c2c;
    border-radius: 3%;
    /* box-shadow:
    0 0 7px 2px rgb(63, 63, 63),
    0 0 0px 0px red,
    0 0 0px 0px blue; */
    /* animation: fadeInUp;
    animation-duration: 2s; */

}
/* This is the container that holds the weekly elements */

.weekly div h5{ 
    display: flex;
    padding-bottom: 30px;
    padding-top: 10px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
}
/* This is the Day of the week text in the weekly boxes */

.weekly div p{ 
    display: flex;
    font-size: x-large;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    font-weight:550;
}

nav.navbar.navbar-inverse {
    margin: 0px;
}
/* removed a weird white space under the navbar */

body {
    background-color: lightblue;
}
body::-webkit-scrollbar {
    display: none;
}

/* before the border radius was fixed the rounded navbar made the site look unprofessional  */

.navbar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-size: 20px ; */
    border-radius: 0px;
    animation: slideInDown;
    animation-duration: 3s;
}

.nav > li > a{
    padding-right: 30px;
    font-size: 20px;
}
.nav > li > a:hover {
    animation: rubberBand .68s;
}

/* adds space to the right of the navbar elements */


@media (max-width: 768px) {
    .navbar a {
        text-align: center;
    }
    .nav > li > a{
        padding: 10px 15px;
    }
    
    /* optimized for tablet view */
    /* fixed some navbar elements from looking ugly when sized down a bit */
}
@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.07, 1.07, 1.07);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }

#sunday {
    animation: 
        fadeInUp 3s,
        pulse 2.5s infinite 3s;
}
#monday {
    animation: 
        fadeInUp 2.5s,
        pulse 2.5s infinite 3.2s;
}

#tuesday {
    animation: 
        fadeInUp 2s,
        pulse 2.5s infinite 3.4s;
}
#wednesday {
    animation: 
        fadeInUp 1.8s,
        pulse 2.5s infinite 3.6s;
}
#thursday {
    animation: 
        fadeInUp 2s,
        pulse 2.5s infinite 3.8s;

}
#friday {
    animation: 
        fadeInUp 2.5s,
        pulse 2.5s infinite 4s;

}
#saturday {
    animation: 
        fadeInUp 3s,
        pulse 2.5s infinite 4.2s;


}
/* --------------------------- */
/* #sunday:hover {
    animation: pulse 3s infinite;
    transition-property: animation;
}
#monday:hover {
    animation: fadeInUp;
    animation-duration: 2.5s;
}

#tuesday:hover {
    animation: fadeInUp;
    animation-duration: 2s;
}
#wednesday:hover {
    animation: fadeInUp;
    animation-duration: 1.8s;
}
#thursday:hover {
    animation: fadeInUp;
    animation-duration: 2s;

}
#friday:hover {
    animation: fadeInUp;
    animation-duration: 2.5s;

}
#saturday:hover {
    animation: fadeInUp;
    animation-duration: 3s;

} */

/* maybe implement a grow on hover? */